# Dependencies
node_modules
npm-debug.log*

# Build output
dist
build
temp
tmp

# Environment files
.env
.env.*
!.env.production

# CI/CD files
.github
.gitlab-ci.yml

# Git/IDE files
.git
.gitignore
.editorconfig
.vscode
*.log

# Docker Compose
docker-compose.yml
docker-compose.*.yml

# MacOS files
.DS_Store

# Others
Thumbs.db
README.md
~*